.post > .content{
    margin-top: 1em;
}
.post > .content > img, #editor > img{
    display: block;
    margin:0 auto;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
#editor{
    overflow-x: hidden;
    overflow-y: scroll;
}
.hide{
    display: none;
}
img{
    max-width: calc(100% - 20px);
}
/*eitah*/
.nav a small{
    color:#333;
}
.responsive{
    display: block;
    overflow-x:auto;
    width: 100%;
}
.responsive table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.responsive th,.responsive td {
    text-align: left;
}
#editor{
    height: 350px;
    margin-top: 1em;
    width: 100%;
}
